%h2 Forgotten password

%p
  Fill out the form below and instructions to reset your password will be emailed to you.

- semantic_form_for User.new, :url => password_resets_path do |f|
  - f.inputs do
    = f.input :email

  - f.buttons do
    = f.commit_button "Reset my password"
